{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": false,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
